.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  font-size: 7vw;
  text-align: center;
  line-height: 1.15;
  width: 60%;
  z-index: 1;
}

.hero .image {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero .image:nth-of-type(1) {
  height: 40vh;
  top: 24vh;
  left: 30vw;
}

.hero .image:nth-of-type(2) {
  height: 55vh;
  top: 55vh;
  left: 87vw;
}

.hero .image:nth-of-type(3) {
  height: 30vh;
  top: 77vh;
  left: 20vw;
}

.hero .rotate {
  position: absolute;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  height: 7vw;
  width: 7vw;
  z-index: 2;
  top: 75vh;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hero .rotatingcircle {
  height: 100%;
  width: 100%;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.hero .rotatingcircle:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#banner {
  width: 130vw;
  height: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #95827d;
  border-bottom: 2px solid #95827d;
  padding: 0 7vw;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#banner p {
  font-size: 4vw;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
}

#banner .dot {
  height: 1.5vw;
  width: 1.5vw;
  background: #95827d;
  border-radius: 50%;
}

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 8vw 0;
  padding: 0 40px;
}

.section h1 {
  font-size: 7vw;
  line-height: 1;
  padding-bottom: 5vw;
  text-align: center;
}

.section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .row img {
  width: 25vw;
  margin-right: 5vw;
}

.about .row .column {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about .row .column p {
  font-size: 1em;
  line-height: 1.5;
  max-width: 600px;
}

.gallery {
  padding: 0 6vw;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 5vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery ul li {
  all: unset;
  width: calc((100% - 10vw) / 3);
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery ul li img {
  width: 100%;
  margin-bottom: 16px;
}

.gallery ul li p {
  line-height: 1;
}

.gallery ul li .price {
  padding-bottom: 10px;
  font-size: 1em;
}

.gallery ul li .desc {
  font-size: 1.5em;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12vw 0;
}

.instagram h1 {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagram h1 img {
  height: 5vw;
  padding-right: 1.5vw;
}

.instagram h1 a {
  font-size: 20px;
  margin: 0 0 0 3vw;
}

.instagram #circle {
  position: absolute;
  height: 22vw;
  width: 22vw;
  background: #95827d;
  opacity: 0.15;
  border-radius: 50%;
}
/*# sourceMappingURL=home.css.map */